<main class="contenedor">
  <form action="/vacantes/editar/{{vacante.url}}" method="POST" class="default-form">
  
    <h3>Informaci贸n general</h3>
    <div class="campo">
      <label for="">Titulo</label>
      <input type="text" value="{{vacante.titulo}}" name="titulo" placeholder="Ej: React developer" required>
    </div>
    <div class="campo">
      <label for="">Empresa</label>
      <input type="text" value="{{vacante.empresa}}" name="empresa" placeholder="Empresa contrata" required>
    </div>
    <div class="campo">
      <label for="">Ubicaci贸n</label>
      <input type="text" value="{{vacante.ubicacion}}" name="ubicacion" placeholder="Ej: Chile o Remoto" required>
    </div>
    <div class="campo">
      <label for="">Salario (USD)</label>
      <input type="text" value="{{vacante.salario}}" name="salario" placeholder="Ej: $2500 USD" required>
    </div>
    <div class="campo">
      <label>Contrato</label>
      <select name="contrato">
        {{#tipoContrato vacante.contrato}}
          <option value="" disabled selected>-- Selecciona --</option>
          <option value="freelance">Freelance</option>
          <option value="tiempo completo">Tiempo completo</option>
          <option value="medio tiempo">Medio tiempo</option>
          <option value="por proyecto">Por proyecto</option>
        {{/tipoContrato}}
      </select>
    </div>

    <h3>Descripci贸n del puesto</h3>
    <div class="campo descripcion">
      <label for="">Descripci贸n</label>
      <input type="hidden" id="x" value="{{{vacante.descripcion}}}" name="descripcion">
      <trix-editor input="x"></trix-editor>
    </div>

    <h3>Conocimientos</h3>
    <ul class="lista-conocimientos">
      {{#seleccionarSkills vacante.skills}}
      {{/seleccionarSkills}}
    </ul>

    <div class="campo centrar-horizontal">
      <input type="hidden" name="skills" id="skills">
      <input type="submit" value="Guardar Cambios" class="btn btn-azul">
    </div>
  </form>
</main>